.total-card{
    width: 100%;
    height: 50%;
    background-color: grey;
}

.total-card-header{
    width: 100%;
    /* height: 30%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}